body{
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff2db;
    margin: 0;
    padding:0;
    color: #003092;
}

nav{
    background: linear-gradient(90deg, #ffab5b, #00879e);
    padding: 15px;
    display:flex;
    justify-content: space-between;
    align-items: center
}   

nav h1{
    font-size: 28px;
    color: #fff2db;
    text-transform: uppercase;
}

nav ul{
    list-style: none;
    display:flex;
    gap: 20px;
    margin:0;
    padding:0;
}

nav ul li a{
    text-decoration: none;
    color: #fff2db;
    font-weight: bold;
}

section{
    background: linear-gradient(to bottom, #fff2db,#ffffff);
    padding: 20px;
    margin: 20px;
    border-top: 4px solid #ffab5b;
    border-left: 3px solid #00879e;
    border-right: 3px solid #00879e;
    border-radius: 12px 12px 0 0;
}

img{
    display: block;
    margin: 20px auto;
    border-radius: 12px;
    border:3px solid #ffab5b;
    max-width: 100%;
    height: auto;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #fff2db;
}

table th, table td{
    padding: 10px;
    border: 1px solid #ffab5b;
    text-align: left;
}

input, select, button{
   margin-top: 10px;
   padding: 10px;
   width: 97%;
   border-radius: 6px;
   border: 1px solid #00879e;
   background-color: #fff2db;
   color: #003092;
}

button{
    background: linear-gradient(90deg, #00879e,#ffab5b);
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover{
    background: linear-gradient(90deg, #ffab5b,#00879e);
}

.thucunglist{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.thucung{
    text-align: center;
    background-color: #fff2db;
    padding: 10px;
    border: 2px solid #00879e;
    border-radius: 12px;
    width: 200px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0,05);
    transition: transform 0.3s ease;
}

.thucung img{
    border-radius: 10px;
    border: 2px solid #ffab5b;
    width: 100%;
    height: auto;
}

.thucung:hover{
    transform: scale(1.05);
}